## Coursera Capstone Project

##### This notebook will be used for the Coursera Capstone project.

In [1]:
#import libraries
import pandas as pd
import numpy as np
print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

## 1. Introduction/Business Problem

In today's world many people can't imagine their lives without a car. Cars have become an integral part of modern humans, making it easier not only to perform everyday activities but also to travel long distance. Nonetheless, road vehicles are also the most unsafe of all available to humans. Traffic collisions are in first place in terms of the number of deaths and injuries. According to these parameters, cars significantly overtake railway, aviation and water transport.

Unfortunately, car accidents occur for many reasons, including both technological and human factors. An accident can happen due to the fault of a tired driver, due to icing of the road surface or a malfunction of the brake system. However, the risk of getting into an accident is often influenced by external factors, such as the day of the week, weather conditions and the quality of the road itself.

Many car companies are working on fully autonomous cars, which could potentially reduce the amount of car accidents. Until then regular cars will remain popular. Therefore, it would be great to have a mechanism that could warn you, given the weather and the road conditions, about the possibility of you getting into a car accident and how severe it would be, so that you would drive more carefully or even change your travel if you are able to.

Thus, the goal of this project is:
#### 1.	to identify the factors that significantly affect the risk of traffic collisions, and
#### 2.	to create a model that will predict the severity of car accidents.

The findings may be useful for improving road safety or for insurance companies planning to introduce life and health insurance programs for drivers and passengers.

## 2. Data

For this project we will be using a shared dataframe called "Collisions" which is provided by IBM. 

We have labeled data for this problem, and hence we will be able to use supervised learning model

In [5]:
#download data
!curl -O https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0 70.4M    0  576k    0     0   627k      0  0:01:55 --:--:--  0:01:55  627k
  2 70.4M    2 1968k    0     0  1026k      0  0:01:10  0:00:01  0:01:09 1026k
  4 70.4M    4 3360k    0     0  1151k      0  0:01:02  0:00:02  0:01:00 1151k
  6 70.4M    6 4752k    0     0  1213k      0  0:00:59  0:00:03  0:00:56 1213k
  8 70.4M    8 6160k    0     0  1252k      0  0:00:57  0:00:04  0:00:53 1252k
 10 70.4M   10 7552k    0     0  1273k      0  0:00:56  0:00:05  0:00:51 1391k
 12 70.4M   12 8928k    0     0  1290k      0  0:00:55  0:00:06  0:00:49 1392k
 14 70.4M   14 10.0M    0     0  1303k      0  0:00:55  0:00:07  0:00:48 1392k
 16 70.4M   16 11.4M    0     0  1309k      0  0:00:55  0:00:08  0:00:47 1385k
 18 70.4M   18 12.7M    0     0  1311k      0  0:00:55  0:00:09  0:00:46 1369k
 19 70.4M   19 14.0M    0     0  1319k      0  0:00:54  0:00:10  0:00:44 1373k
 21 70.4M   21 15.3M    0     0  1317k      0  0:00:54  0:00:11  0:00:43 1353k
 23 70.4M   23 16.6M    0     0  1320k      0  0:00:54  0:00:12  0:00:42 1347k
 25 70.4M   25 17.9M    0     0  1319k      0  0:00:54  0:00:13  0:00:41 1337k
 26 70.4M   26 18.7M    0     0  1289k      0  0:00:55  0:00:14  0:00:41 1244k
 28 70.4M   28 19.8M    0     0  1278k      0  0:00:56  0:00:15  0:00:41 1190k
 30 70.4M   30 21.2M    0     0  1284k      0  0:00:56  0:00:16  0:00:40 1206k
 31 70.4M   31 22.5M    0     0  1286k      0  0:00:56  0:00:17  0:00:39 1200k
 33 70.4M   33 23.7M    0     0  1284k      0  0:00:56  0:00:18  0:00:38 1186k
 34 70.4M   34 24.4M    0     0  1258k      0  0:00:57  0:00:19  0:00:38 1167k
 36 70.4M   36 25.6M    0     0  1255k      0  0:00:57  0:00:20  0:00:37 1183k
 38 70.4M   38 26.9M    0     0  1259k      0  0:00:57  0:00:21  0:00:36 1174k
 40 70.4M   40 28.2M    0     0  1264k      0  0:00:57  0:00:22  0:00:35 1183k
 42 70.4M   42 29.6M    0     0  1268k      0  0:00:56  0:00:23  0:00:33 1209k
 43 70.4M   43 30.9M    0     0  1273k      0  0:00:56  0:00:24  0:00:32 1334k
 45 70.4M   45 32.3M    0     0  1277k      0  0:00:56  0:00:25  0:00:31 1369k
 47 70.4M   47 33.7M    0     0  1282k      0  0:00:56  0:00:26  0:00:30 1382k
 49 70.4M   49 35.0M    0     0  1286k      0  0:00:56  0:00:27  0:00:29 1388k
 51 70.4M   51 36.4M    0     0  1290k      0  0:00:55  0:00:28  0:00:27 1395k
 53 70.4M   53 37.8M    0     0  1294k      0  0:00:55  0:00:29  0:00:26 1395k
 55 70.4M   55 39.1M    0     0  1297k      0  0:00:55  0:00:30  0:00:25 1400k
 57 70.4M   57 40.5M    0     0  1300k      0  0:00:55  0:00:31  0:00:24 1401k
 59 70.4M   59 41.8M    0     0  1302k      0  0:00:55  0:00:32  0:00:23 1389k
 61 70.4M   61 43.2M    0     0  1305k      0  0:00:55  0:00:33  0:00:22 1388k
 63 70.4M   63 44.5M    0     0  1307k      0  0:00:55  0:00:34  0:00:21 1389k
 65 70.4M   65 45.9M    0     0  1310k      0  0:00:55  0:00:35  0:00:20 1389k
 67 70.4M   67 47.3M    0     0  1312k      0  0:00:54  0:00:36  0:00:18 1388k
 69 70.4M   69 48.6M    0     0  1314k      0  0:00:54  0:00:37  0:00:17 1398k
 71 70.4M   71 50.0M    0     0  1317k      0  0:00:54  0:00:38  0:00:16 1398k
 72 70.4M   72 51.4M    0     0  1319k      0  0:00:54  0:00:39  0:00:15 1398k
 74 70.4M   74 52.7M    0     0  1321k      0  0:00:54  0:00:40  0:00:14 1398k
 76 70.4M   76 54.1M    0     0  1322k      0  0:00:54  0:00:41  0:00:13 1398k
 78 70.4M   78 55.5M    0     0  1324k      0  0:00:54  0:00:42  0:00:12 1401k
 80 70.4M   80 56.9M    0     0  1326k      0  0:00:54  0:00:43  0:00:11 1402k
 82 70.4M   82 58.2M    0     0  1328k      0  0:00:54  0:00:44  0:00:10 1400k
 84 70.4M   84 59.6M    0     0  1329k      0  0:00:54  0:00:45  0:00:09 1398k
 86 70.4M   86 60.9M    0     0  1330k      0  0:00:54  0:00:46  0:00:08 1398k
 88 70.4M   88 62.3M    0     0  1331k      0  0:00:54  0:00:47  0:00:07 1391k
 90 70.4M   90 63.5M    0     0  1330k      0  0:00:54  0:00:48  0:00:06 1366k
 92 70.4M   92 64.9M    0     0  1332k      0  0:00:54  0:00:49  0:00:05 1369k
 93 70.4M   93 66.2M    0     0  1332k      0  0:00:54  0:00:50  0:00:04 1356k
 95 70.4M   95 67.6M    0     0  1333k      0  0:00:54  0:00:51  0:00:03 1360k
 97 70.4M   97 68.9M    0     0  1334k      0  0:00:54  0:00:52  0:00:02 1363k
 99 70.4M   99 70.3M    0     0  1336k      0  0:00:54  0:00:53  0:00:01 1388k
100 70.4M  100 70.4M    0     0  1336k      0  0:00:54  0:00:54 --:--:-- 1386k

In [7]:
#read the online file by the URL provided above, and assign it to variable "df"
Collisions = pd.read_csv('Data-Collisions.csv') 

#check the top n rows of the dataframe
Collisions.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

The data is about “accident severity” and has SEVERITYCODE for each type. 

The dataset includes all types of collisions for the timeframe from 2004 to 2018. 

The dataset has an extensive amount of observations - more than 190,000. 

The total amount of attributes in the dataframe is 37.

In [8]:
#check size of dataframe (rows, columns)
Collisions.shape

(194673, 38)

We have more than 38 columns but, not all attributes will be useful for this project. 

Hence, we will look in detail and drop the columns that are irrelevant.

In [10]:
#check the name of columns(headers) 
Collisions.columns

Index(['SEVERITYCODE', 'X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'ADDRTYPE', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PERSONCOUNT', 'PEDCOUNT', 'PEDCYLCOUNT', 'VEHCOUNT', 'INCDATE',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL', 'WEATHER', 'ROADCOND', 'LIGHTCOND',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'SPEEDING', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'],
      dtype='object')

Now we will check the attributes that have missing data and fix those because a model cannot be trained with missing data.

In [11]:
#check the number of missing values in each column
Collisions.isnull().sum()

SEVERITYCODE           0
X                   5334
Y                   5334
OBJECTID               0
INCKEY                 0
COLDETKEY              0
REPORTNO               0
STATUS                 0
ADDRTYPE            1926
INTKEY            129603
LOCATION            2677
EXCEPTRSNCODE     109862
EXCEPTRSNDESC     189035
SEVERITYCODE.1         0
SEVERITYDESC           0
COLLISIONTYPE       4904
PERSONCOUNT            0
PEDCOUNT               0
PEDCYLCOUNT            0
VEHCOUNT               0
INCDATE                0
INCDTTM                0
JUNCTIONTYPE        6329
SDOT_COLCODE           0
SDOT_COLDESC           0
INATTENTIONIND    164868
UNDERINFL           4884
WEATHER             5081
ROADCOND            5012
LIGHTCOND           5170
PEDROWNOTGRNT     190006
SDOTCOLNUM         79737
SPEEDING          185340
ST_COLCODE            18
ST_COLDESC          4904
SEGLANEKEY             0
CROSSWALKKEY           0
HITPARKEDCAR           0
dtype: int64

In [12]:
#drop the unnecessary columns
#use pandas .drop() method 
#in pandas axis=0 represents rows (default) and axis=1 represents columns

Collisions.drop(['X', 'Y', 'OBJECTID', 'INCKEY', 'COLDETKEY', 'REPORTNO',
       'STATUS', 'INTKEY', 'LOCATION', 'EXCEPTRSNCODE',
       'EXCEPTRSNDESC', 'SEVERITYCODE.1', 'SEVERITYDESC', 'COLLISIONTYPE',
       'PEDCOUNT', 'PEDCYLCOUNT',
       'INCDTTM', 'JUNCTIONTYPE', 'SDOT_COLCODE', 'SDOT_COLDESC',
       'INATTENTIONIND', 'UNDERINFL',
       'PEDROWNOTGRNT', 'SDOTCOLNUM', 'ST_COLCODE', 'ST_COLDESC',
       'SEGLANEKEY', 'CROSSWALKKEY', 'HITPARKEDCAR'], axis=1, inplace=True)
Collisions.head()

,SEVERITYCODE,ADDRTYPE,PERSONCOUNT,VEHCOUNT,INCDATE,WEATHER,ROADCOND,LIGHTCOND,SPEEDING
0,2,Intersection,2,2,2013/03/27 00:00:00+00,Overcast,Wet,Daylight,NaN
1,1,Block,2,2,2006/12/20 00:00:00+00,Raining,Wet,Dark - Street Lights On,NaN
2,1,Block,4,3,2004/11/18 00:00:00+00,Overcast,Dry,Daylight,NaN
3,1,Block,3,3,2013/03/29 00:00:00+00,Clear,Dry,Daylight,NaN
4,2,Intersection,2,2,2004/01/28 00:00:00+00,Raining,Wet,Daylight,NaN

For this project the following attributes were chosen:
* 'SEVERITYCODE' - Target variable, which is used to measure the severity of an accident from 0 to 4 within the dataset;
* 'ADDRTYPE' - Collision address type (Alley, Block, Intersection);
* 'PERSONCOUNT' - The number of pedestrians involved in the collision;
* 'VEHCOUNT' - The number of vehicles involved in the collision;
* 'INCDATE' - The date of the incident;
* 'WEATHER' - A description of the weather conditions during the time of the collision;
* 'ROADCOND' - The condition of the road during the collision;
* 'LIGHTCOND' - The light conditions during the collision;
* 'SPEEDING' - Whether or not speeding was a factor in the collision.

In [13]:
#check the number of missing values in each column
Collisions.isnull().sum()

SEVERITYCODE         0
ADDRTYPE          1926
PERSONCOUNT          0
VEHCOUNT             0
INCDATE              0
WEATHER           5081
ROADCOND          5012
LIGHTCOND         5170
SPEEDING        185340
dtype: int64

**Note**: the attribute “SPEEDING” has more than 185,000 missing values, which can create a biased ML model. Therefore, this attribute wwill be dropped.

Rows with missing values from the attributes "ADDRTYPE","WEATHER","ROADCOND","LIGHTCOND" were also dropped.

In [14]:
#drop the attribute “SPEEDING”
Collisions.drop(['SPEEDING'], axis=1, inplace=True)

In [15]:
#drop all rows with missing values
Collisions.dropna(subset=["ADDRTYPE","WEATHER","ROADCOND","LIGHTCOND"], axis=0, inplace=True)

#reset index, because we droped the rows
Collisions.reset_index(drop=True, inplace=True)

In [16]:
#summary of a dataframe
Collisions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187525 entries, 0 to 187524
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   SEVERITYCODE  187525 non-null  int64
 1   ADDRTYPE      187525 non-null  object
 2   PERSONCOUNT   187525 non-null  int64
 3   VEHCOUNT      187525 non-null  int64
 4   INCDATE       187525 non-null  object
 5   WEATHER       187525 non-null  object
 6   ROADCOND      187525 non-null  object
 7   LIGHTCOND     187525 non-null  object
dtypes: int64(3), object(5)
memory usage: 11.4+ MB

Now, we have finally obtained the cleaned dataset with no missing values and all data in its proper format. 

The final size of the dataframe includes 187524 entries and 8 attributes.

In [17]:
Collisions

,SEVERITYCODE,ADDRTYPE,PERSONCOUNT,VEHCOUNT,INCDATE,WEATHER,ROADCOND,LIGHTCOND
0,2,Intersection,2,2,2013/03/27 00:00:00+00,Overcast,Wet,Daylight
1,1,Block,2,2,2006/12/20 00:00:00+00,Raining,Wet,Dark - Street Lights On
2,1,Block,4,3,2004/11/18 00:00:00+00,Overcast,Dry,Daylight
3,1,Block,3,3,2013/03/29 00:00:00+00,Clear,Dry,Daylight
4,2,Intersection,2,2,2004/01/28 00:00:00+00,Raining,Wet,Daylight
...,...,...,...,...,...,...,...,...
187520,2,Block,3,2,2018/11/12 00:00:00+00,Clear,Dry,Daylight
187521,1,Block,2,2,2018/12/18 00:00:00+00,Raining,Wet,Daylight
187522,2,Intersection,3,2,2019/01/19 00:00:00+00,Clear,Dry,Daylight
187523,2,Intersection,2,1,2019/01/15 00:00:00+00,Clear,Dry,Dusk
187524,1,Block,2,2,2018/11/30 00:00:00+00,Clear,Wet,Daylight